
/* Pre-set CSS to simulate a live website */
body { margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 150%; background: #eee; }
.headerContainerWrapper { background: #FFF; }
.center { max-width: 960px; margin: 0 auto; }
.headerContainer, .bodyContainer, .footerContainer { max-width: 960px; margin: 0 auto; background: #FFF; }
.padding {	padding: 20px; }
.bodyContainer { min-height: 500px; }

/* General Styles for Menu  */
.dropDownMenu a {
	padding: 10px 20px;
	/*display: block;
	text-decoration: none;*/
}
.dropDownMenu a:hover {
	background: #000;
}


/* Level 1 Drop Down */
.dropDownMenu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px; /* solve the 4 pixels spacing between list-items */
}
.dropDownMenu > li:first-child {
	margin-left: 0;
}

/* Level 2 */
.dropDownMenu ul {
	box-shadow: 2px 2px 15px 0 rgba(0,0,0, 0.5);
}
.dropDownMenu > li > ul {
	text-align: left;
	display: none;
	background: green;
	position: absolute;
	top: 100%;
	left: 0;
	width: 240px;
	z-index: 999999; /* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}

/* Level 3 */
.dropDownMenu > li > ul > li > ul {
	text-align: left;
	display: none;
	background: darkcyan;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 9999999;
}